.box2:hover{
    transform:translateY(-5px);
   ;}
  
  .box2{

transition: all ease 0.2s;



border-radius: 20px;

  }
  .box3:hover{
    transform:translateY(-5px);
    /* box-shadow: 0px 10px 20px 2px rgba(153, 232, 49, 0.7); */
  }
  .box3{

transition: all ease 0.2s;



border-radius: 20px;

  }
  .box4:hover{
    transform:translateY(-5px)
  
  }
  
  .box4{

transition: all ease 0.2s;



border-radius: 20px;

  }
  .box5:hover{
    transform:translateY(-5px);
  }
  
  .box5{

transition: all ease 0.2s;



border-radius: 20px;
;
  }
  .box6:hover{
    transform:translateY(-5px);
    ;}
  
  .box6{

transition: all ease 0.2s;



border-radius: 20px;

  }
  .box7:hover{
    transform:translateY(-5px);
    }
  
  .box7{

transition: all ease 0.2s;



/* border-radius: 20px; */

  }



  background{
    background-color: azure;
  }